body  {
    background:
        linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    display: flex;
    background-attachment: fixed;
    margin: 0;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 200;
    top: 9.9rem;
    position: relative;
}

#login-form {
    top: 10rem;
    position: relative;
}

#email {
    position: relative;
}

#password {
    position:relative;

}